.task-container{
padding:40px;
}

.task-form{
display:flex;
gap:10px;
margin-bottom:20px;
}

select,input{
padding:8px;
}

.filter{
margin-bottom:20px;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
border:1px solid #ddd;
padding:10px;
text-align:center;
}